<div class="conversion-wrapper">
    <div class="top-bar">
        <button class="back-btn" (click)="handleRouteBack()">
            <mat-icon class="text-2xl">chevron_left</mat-icon>
        </button>
        <h1 class="title">Conversion</h1>
    </div>

    <img class="mt-20" src="assets/images/conversion.svg">

    <form class="conversion-form">
        <div class="inputs">
            <label>From</label>
            <div class="amount-currency-container">
                <input type="text" class="input-field" />
                <button class="currency-btn">
                    USD
                    <mat-icon class="currency-btn-icon">unfold_more</mat-icon>
                </button>
            </div>
        </div>
        <div class="exchange-icons">
            <mat-icon>arrow_upward</mat-icon>
            <mat-icon>arrow_downward</mat-icon>
        </div>
        <div class="inputs">
            <label>To</label>
            <div class="amount-currency-container">
                <input type="text" class="input-field" />
                <button class="currency-btn">
                    KRM
                    <mat-icon class="currency-btn-icon">unfold_more</mat-icon>
                </button>
            </div>
        </div>
        <div class="currency-rate-container">
            <span>Currency rate</span>
            <span>1 USD = 1122KRM</span>
        </div>
        <button class="exchange-btn">
            Exchange
        </button>
    </form>
</div>