<mat-card *ngIf="accountData">
  <mat-grid-list cols="2" rowHeight="80px">
    <mat-grid-tile>Account ID:</mat-grid-tile>
    <mat-grid-tile>{{ accountData.accountId }}</mat-grid-tile>
    <mat-grid-tile>Account Number:</mat-grid-tile>
    <mat-grid-tile>{{ accountData.accountNumber }}</mat-grid-tile>
    <mat-grid-tile>Account Name:</mat-grid-tile>
    <mat-grid-tile>{{ accountData.accountName }}</mat-grid-tile>
    <mat-grid-tile>Reference Name:</mat-grid-tile>
    <mat-grid-tile>{{ accountData.referenceName }}</mat-grid-tile>
    <mat-grid-tile>Product Name:</mat-grid-tile>
    <mat-grid-tile>{{ accountData.productName }}</mat-grid-tile>
  </mat-grid-list>
  <div class="action-btn">
    <button mat-raised-button color="primary" (click)="handleViewBalance()">
      View Balance
    </button>
    <button mat-raised-button (click)="handleViewTransactions()">
      View Transactions
    </button>
  </div>
</mat-card>
