<div class="currency-options-container">
    <div class="currency-top-header">
        <span>Select the currency</span>
        <button (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="currency-options">
        @for (currency of currencies; track selectedCurrency?.code) {
            <button class="currency-option" [ngClass]="{ selected: isSelected(currency) }" (click)="selectCurrency(currency)">
                {{ currency.code }} ( {{ currency.name }} )
                <mat-icon *ngIf="isSelected(currency)">check</mat-icon>
            </button>
        }
    </div>
</div>