<div class="dashboard-page-container">
  <!-- <mat-tab-group>
    <mat-tab label="Accounts API">
      <ng-template matTabContent>
        <app-accounts-api></app-accounts-api>
      </ng-template>
    </mat-tab>
    <mat-tab label="Beneficiaries">
      <ng-template matTabContent>
        <app-beneficiaries-api></app-beneficiaries-api>
      </ng-template>
    </mat-tab>
    <mat-tab label="Cards API">
      <ng-template matTabContent>
        <app-cards-api></app-cards-api>
      </ng-template>
    </mat-tab>
  </mat-tab-group> -->
  <app-dashboard-header></app-dashboard-header>
  <app-dashboard-main-tiles-container></app-dashboard-main-tiles-container>
  <app-dashboard-fast-actions-container></app-dashboard-fast-actions-container>
  <app-dashboard-upcoming-trips></app-dashboard-upcoming-trips>
</div>
