.mat-card-contents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  padding: 1rem;
}
.mat-card-image {
  flex: 1;
  margin-right: 0.5rem;
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.mat-card-information {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 10vh;
  padding-left: 0.5rem;
}

.mat-card-action-item {
  button {
    margin-top: -1rem;
  }
}
