<div class="accounts-api-container">
  <div class="account-details-output">
    <div *ngFor="let account of accounts$ | async">
      <app-account-tile
        [accountData]="account"
        (viewBalanceSelected)="handleViewBalanceSelected($event)"
        (viewTransactionsSelected)="handleViewTransactionsSelected($event)"
        (createNewTransaction)="handleCreateNewTransaction($event)"
        (deleteAccount)="handleDeleteAccount($event)"
      ></app-account-tile>
    </div>
  </div>
  <div>
    <button mat-raised-button (click)="handleAddAccountDialog()">
      Create New Account
    </button>
  </div>
</div>
